In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\NITJ\\Desktop\\DMMidTerm_TeamId_37\\Data\\9.9_Seat_Utilisation_per_day_during_1971_Service_wise_and_Undertaking_wise.csv",header= 0,encoding= 'unicode_escape')
df

,Categoy (Col. 1),Nature of Service/ Undertaking (Col. 2),January (Col. 3),February (Col. 4),March (Col. 5),April (Col. 6),May (Col. 7),June (Col. 8),July (Col. 9),August (Col. 10),...,Note of March,Note of April,Note of May,Note of June,Note of July,Note of August,Note of September,Note of October,Note of November,Note of December
0,A. City Services,A. City Services,21.7,20.2,20.8,21.2,21.9,21.8,22.8,22.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A. City Services,"BESTU, Bombay",30.9,27.8,29.7,30.0,30.2,29.8,31.8,30.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A. City Services,"TSTD, Madras",17.7,19.6,20.5,20.3,20.6,21.0,21.0,21.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A. City Services,"DTC, Delhi",13.2,12.5,11.9,11.8,12.9,12.4,14.5,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A. City Services,"AMTS, Ahmedabad",23.5,18.8,22.0,20.8,21.4,22.1,22.5,22.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#Drpping rows and columns which are having excess NA's(Data Reduction)
df=df.dropna(thresh=len(df)-200,axis=1)

,Categoy (Col. 1),Nature of Service/ Undertaking (Col. 2),January (Col. 3),February (Col. 4),March (Col. 5),April (Col. 6),May (Col. 7),June (Col. 8),July (Col. 9),August (Col. 10),September (Col. 11),October (Col. 12),November (Col. 13),December (Col. 14)
0,A. City Services,A. City Services,21.7,20.2,20.8,21.2,21.9,21.8,22.8,22.2,21.9,21.1,22.8,20.0
1,A. City Services,"BESTU, Bombay",30.9,27.8,29.7,30.0,30.2,29.8,31.8,30.5,29.8,28.2,30.0,27.1
2,A. City Services,"TSTD, Madras",17.7,19.6,20.5,20.3,20.6,21.0,21.0,21.3,21.3,19.7,20.5,20.8
3,A. City Services,"DTC, Delhi",13.2,12.5,11.9,11.8,12.9,12.4,14.5,13.0,12.2,13.5,14.1,11.7
4,A. City Services,"AMTS, Ahmedabad",23.5,18.8,22.0,20.8,21.4,22.1,22.5,22.8,23.1,22.3,22.3,19.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df=df.dropna(axis=0, how='any', thresh=3, subset=None, inplace=False)

In [5]:
df

,Categoy (Col. 1),Nature of Service/ Undertaking (Col. 2),January (Col. 3),February (Col. 4),March (Col. 5),April (Col. 6),May (Col. 7),June (Col. 8),July (Col. 9),August (Col. 10),September (Col. 11),October (Col. 12),November (Col. 13),December (Col. 14)
0,A. City Services,A. City Services,21.7,20.2,20.8,21.2,21.9,21.8,22.8,22.2,21.9,21.1,22.8,20.0
1,A. City Services,"BESTU, Bombay",30.9,27.8,29.7,30.0,30.2,29.8,31.8,30.5,29.8,28.2,30.0,27.1
2,A. City Services,"TSTD, Madras",17.7,19.6,20.5,20.3,20.6,21.0,21.0,21.3,21.3,19.7,20.5,20.8
3,A. City Services,"DTC, Delhi",13.2,12.5,11.9,11.8,12.9,12.4,14.5,13.0,12.2,13.5,14.1,11.7
4,A. City Services,"AMTS, Ahmedabad",23.5,18.8,22.0,20.8,21.4,22.1,22.5,22.8,23.1,22.3,22.3,19.8
5,A. City Services,"MySRTC, Bangalore",19.4,19.3,19.6,19.5,20.7,20.7,20.0,20.0,19.7,19.0,18.8,18.5
6,A. City Services,"APSRTC, Hyderabad",19.4,19.3,18.5,18.9,20.2,22.3,21.0,19.5,20.1,19.9,20.0,18.9
7,A. City Services,"CTU, Chandigarh",8.1,8.0,9.0,9.4,9.2,9.8,9.4,9.0,8.1,7.7,7.5,6.5
8,A. City Services,"CSTC, Calcutta",39.2,27.0,25.6,30.8,32.3,29.8,31.5,33.7,34.9,32.4,31.4,29.0
9,A. City Services,"PMTS, Poona",25.5,25.0,25.0,26.1,27.5,27.3,28.5,27.4,28.8,28.6,28.9,26.4
10,A. City Services,"J&KGTU, Srinagar",7.5,6.3,6.7,7.1,8.6,8.3,8.8,9.2,8.0,8.9,6.5,6.2
11,A. City Services,"KMTS, Kolhapur",29.9,28.5,32.1,30.2,33.4,31.2,28.6,28.8,NaN,NaN,NaN,NaN
12,A. City Services,"SMTS, Sholapur",NaN,NaN,NaN,28.6,33.9,30.6,29.2,27.6,27.2,29.1,28.2,25.9
13,A. City Services,"KSRTC, Trivandrum",NaN,NaN,NaN,19.3,21.1,21.6,NaN,NaN,NaN,NaN,NaN,NaN
14,A. City Services,"MSTD, Imphal",13.6,14.1,14.3,15.1,14.0,15.5,14.1,14.1,15.1,15.7,15.2,15.7
16,A. City Services,"UPGR, Lucknow",9.4,10.0,9.5,10.4,11.4,11.4,11.0,11.3,10.6,10.2,10.5,8.6
17,B. District Services,B. District Services,6.9,7.1,6.9,7.4,8.1,7.4,7.4,6.5,6.2,6.5,6.6,6.3
18,B. District Services,"GSRTC, Ahmedabad",9.5,10.1,9.4,10.9,11.9,12.9,9.8,10.9,10.1,10.5,10.1,9.8
19,B. District Services,"MySRTC, Bangalore",7.4,10.0,7.2,7.5,8.6,8.4,7.6,7.5,7.0,7.5,7.8,7.7
20,B. District Services,"MSTD, Imphal",4.4,4.8,4.4,4.6,4.4,4.3,4.0,4.0,4.2,4.6,3.6,3.6
21,B. District Services,"ORTC, Berhampur",4.5,5.2,4.9,5.2,5.4,5.0,4.6,4.3,4.5,4.3,4.4,4.0
22,B. District Services,"APSRTC, Hyderabad",7.5,8.0,7.8,8.1,8.7,8.1,8.1,7.5,7.5,7.7,7.9,7.7
23,B. District Services,"HGTS, Chandigarh",3.3,3.4,3.5,3.8,4.3,3.9,3.7,3.1,3.2,3.5,3.6,3.3
24,B. District Services,"RSRTC, Jaipur",3.4,3.1,2.9,3.1,3.7,3.3,2.8,3.3,2.9,2.9,2.9,2.8
25,B. District Services,"MKRTC, Mandi",2.7,2.8,3.3,4.1,3.7,3.5,3.3,3.3,3.2,3.4,3.1,2.8
26,B. District Services,"BSRTC, Patna",4.3,4.3,4.4,4.3,4.5,4.4,4.0,3.8,4.0,3.7,3.8,3.9
27,B. District Services,"NBSTC, Cooch-Behar",7.2,7.2,6.2,6.8,7.0,7.0,6.4,5.1,5.7,6.2,6.5,6.6
28,B. District Services,"KSRTC, Trivandrum",12.4,12.1,11.6,11.2,14.3,11.0,NaN,NaN,NaN,NaN,NaN,NaN
30,B. District Services,"MPSRTC, Bairagarh",4.3,3.9,3.8,4.2,4.2,4.2,4.0,4.1,3.8,3.7,3.9,3.9
32,B. District Services,"MSRTC, Bombay",6.6,6.2,7.0,7.5,7.8,6.9,6.4,6.9,6.5,7.0,7.0,6.6
33,B. District Services,"STSO, Cuttack",3.1,3.1,3.4,2.8,3.0,2.6,2.4,2.3,2.4,2.5,2.5,2.3
35,B. District Services,"J&KGTU, Srinagar",2.1,2.1,2.7,3.0,3.2,3.7,3.9,3.5,3.5,3.3,3.0,2.1
37,B. District Services,"STS, A & N Islands",7.2,7.0,6.5,6.7,6.3,6.5,6.3,6.3,6.5,6.4,6.7,6.7
38,B. District Services,"UPGR, Lucknow",3.9,4.4,4.1,4.8,5.3,5.1,5.4,4.4,3.8,4.3,4.2,3.9
39,C. Inter-State Services,C. Inter-State Services,4.0,4.3,4.2,4.3,4.7,4.6,4.4,3.8,3.6,3.6,3.6,3.5
40,C. Inter-State Services,"GSRTC, Ahmedabad",3.4,3.6,3.8,4.0,4.3,3.8,3.3,4.0,4.6,4.6,3.8,3.6
41,C. Inter-State Services,"MySRTC, Bangalore",6.3,6.9,6.7,6.6,7.2,6.7,6.0,6.0,5.8,5.9,5.9,5.4
42,C. Inter-State Services,"DTC, Delhi",7.2,7.3,7.5,8.1,8.2,7.9,7.5,6.5,6.5,6.8,6.8,6.0
43,C. Inter-State Services,"HGTS, Chandigarh",3.4,3.5,3.7,3.7,3.9,4.0,3.6,3.2,3.2,3.4,3.6,3.3
44,C. Inter-State Services,"MSTD, Imphal",1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
45,C. Inter-State Services,"MKRTC, Mandi",3.0,3.3,3.6,3.7,3.4,3.2,3.4,2.3,2.9,2.6,3.2,2.8
46,C. Inter-State Services,"RSRTC, Jaipur",2.7,3.0,2.8,3.3,3.4,3.2,2.8,2.9,2.6,2.6,2.9,2.5
47,C. Inter-State Services,"PRTC, Patiala",4.1,4.8,4.5,4.4,4.6,5.5,5.0,4.3,4.2,3.9,3.9,3.3
48,C. Inter-State Services,"ORTC, Berhampur",9.7,6.3,7.0,7.0,7.3,6.3,5.7,6.0,6.3,6.3,5.7,5.7
49,C. Inter-State Services,"CSTC, Calcutta",NaN,NaN,NaN,0.1,0.3,0.2,0.2,0.3,0.4,0.4,0.4,0.5
51,C. Inter-State Services,"KSRTC, Trivandrum",8.8,7.4,7.7,7.8,7.7,7.6,NaN,NaN,NaN,NaN,NaN,NaN
52,C. Inter-State Services,"CTU, Chandigarh",1.2,1.3,1.4,1.4,1.4,1.5,1.4,1.4,1.5,1.4,1.4,1.4
54,C. Inter-State Services,"MPSRTC, Bairagarh",3.5,4.2,4.0,4.4,4.5,4.0,3.1,3.0,3.7,3.9,3.9,3.6
56,C. Inter-State Services,"MSRTC, Bombay",4.2,4.0,3.6,3.6,3.9,3.6,3.9,3.8,3.3,3.5,3.4,5.6
57,C. Inter-State Services,"STSO, Cuttack",3.6,4.2,3.5,3.6,3.8,3.7,3.1,2.8,3.3,3.1,3.3,3.4
58,C. Inter-State Services,"J & KGTU, Srinagar",1.0,0.9,1.0,1.1,1.1,1.1,0.9,0.9,0.9,0.8,0.9,0.7
60,C. Inter-State Services,"UPGR, Lucknow",2.6,2.8,2.9,3.2,3.4,3.3,3.4,2.6,3.3,3.2,3.2,2.6

In [6]:
#Replacing NA with mean of the columns(data Cleaning)
df=df.fillna(df.mean(),inplace=False)

In [7]:
df

,Categoy (Col. 1),Nature of Service/ Undertaking (Col. 2),January (Col. 3),February (Col. 4),March (Col. 5),April (Col. 6),May (Col. 7),June (Col. 8),July (Col. 9),August (Col. 10),September (Col. 11),October (Col. 12),November (Col. 13),December (Col. 14)
0,A. City Services,A. City Services,21.700000,20.20000,20.800000,21.2,21.9,21.8,22.800000,22.20000,21.900000,21.100000,22.800,20.000000
1,A. City Services,"BESTU, Bombay",30.900000,27.80000,29.700000,30.0,30.2,29.8,31.800000,30.50000,29.800000,28.200000,30.000,27.100000
2,A. City Services,"TSTD, Madras",17.700000,19.60000,20.500000,20.3,20.6,21.0,21.000000,21.30000,21.300000,19.700000,20.500,20.800000
3,A. City Services,"DTC, Delhi",13.200000,12.50000,11.900000,11.8,12.9,12.4,14.500000,13.00000,12.200000,13.500000,14.100,11.700000
4,A. City Services,"AMTS, Ahmedabad",23.500000,18.80000,22.000000,20.8,21.4,22.1,22.500000,22.80000,23.100000,22.300000,22.300,19.800000
5,A. City Services,"MySRTC, Bangalore",19.400000,19.30000,19.600000,19.5,20.7,20.7,20.000000,20.00000,19.700000,19.000000,18.800,18.500000
6,A. City Services,"APSRTC, Hyderabad",19.400000,19.30000,18.500000,18.9,20.2,22.3,21.000000,19.50000,20.100000,19.900000,20.000,18.900000
7,A. City Services,"CTU, Chandigarh",8.100000,8.00000,9.000000,9.4,9.2,9.8,9.400000,9.00000,8.100000,7.700000,7.500,6.500000
8,A. City Services,"CSTC, Calcutta",39.200000,27.00000,25.600000,30.8,32.3,29.8,31.500000,33.70000,34.900000,32.400000,31.400,29.000000
9,A. City Services,"PMTS, Poona",25.500000,25.00000,25.000000,26.1,27.5,27.3,28.500000,27.40000,28.800000,28.600000,28.900,26.400000
10,A. City Services,"J&KGTU, Srinagar",7.500000,6.30000,6.700000,7.1,8.6,8.3,8.800000,9.20000,8.000000,8.900000,6.500,6.200000
11,A. City Services,"KMTS, Kolhapur",29.900000,28.50000,32.100000,30.2,33.4,31.2,28.600000,28.80000,8.810417,8.777083,8.775,8.208333
12,A. City Services,"SMTS, Sholapur",9.171429,8.77551,8.859184,28.6,33.9,30.6,29.200000,27.60000,27.200000,29.100000,28.200,25.900000
13,A. City Services,"KSRTC, Trivandrum",9.171429,8.77551,8.859184,19.3,21.1,21.6,9.459184,9.22449,8.810417,8.777083,8.775,8.208333
14,A. City Services,"MSTD, Imphal",13.600000,14.10000,14.300000,15.1,14.0,15.5,14.100000,14.10000,15.100000,15.700000,15.200,15.700000
16,A. City Services,"UPGR, Lucknow",9.400000,10.00000,9.500000,10.4,11.4,11.4,11.000000,11.30000,10.600000,10.200000,10.500,8.600000
17,B. District Services,B. District Services,6.900000,7.10000,6.900000,7.4,8.1,7.4,7.400000,6.50000,6.200000,6.500000,6.600,6.300000
18,B. District Services,"GSRTC, Ahmedabad",9.500000,10.10000,9.400000,10.9,11.9,12.9,9.800000,10.90000,10.100000,10.500000,10.100,9.800000
19,B. District Services,"MySRTC, Bangalore",7.400000,10.00000,7.200000,7.5,8.6,8.4,7.600000,7.50000,7.000000,7.500000,7.800,7.700000
20,B. District Services,"MSTD, Imphal",4.400000,4.80000,4.400000,4.6,4.4,4.3,4.000000,4.00000,4.200000,4.600000,3.600,3.600000
21,B. District Services,"ORTC, Berhampur",4.500000,5.20000,4.900000,5.2,5.4,5.0,4.600000,4.30000,4.500000,4.300000,4.400,4.000000
22,B. District Services,"APSRTC, Hyderabad",7.500000,8.00000,7.800000,8.1,8.7,8.1,8.100000,7.50000,7.500000,7.700000,7.900,7.700000
23,B. District Services,"HGTS, Chandigarh",3.300000,3.40000,3.500000,3.8,4.3,3.9,3.700000,3.10000,3.200000,3.500000,3.600,3.300000
24,B. District Services,"RSRTC, Jaipur",3.400000,3.10000,2.900000,3.1,3.7,3.3,2.800000,3.30000,2.900000,2.900000,2.900,2.800000
25,B. District Services,"MKRTC, Mandi",2.700000,2.80000,3.300000,4.1,3.7,3.5,3.300000,3.30000,3.200000,3.400000,3.100,2.800000
26,B. District Services,"BSRTC, Patna",4.300000,4.30000,4.400000,4.3,4.5,4.4,4.000000,3.80000,4.000000,3.700000,3.800,3.900000
27,B. District Services,"NBSTC, Cooch-Behar",7.200000,7.20000,6.200000,6.8,7.0,7.0,6.400000,5.10000,5.700000,6.200000,6.500,6.600000
28,B. District Services,"KSRTC, Trivandrum",12.400000,12.10000,11.600000,11.2,14.3,11.0,9.459184,9.22449,8.810417,8.777083,8.775,8.208333
30,B. District Services,"MPSRTC, Bairagarh",4.300000,3.90000,3.800000,4.2,4.2,4.2,4.000000,4.10000,3.800000,3.700000,3.900,3.900000
32,B. District Services,"MSRTC, Bombay",6.600000,6.20000,7.000000,7.5,7.8,6.9,6.400000,6.90000,6.500000,7.000000,7.000,6.600000
33,B. District Services,"STSO, Cuttack",3.100000,3.10000,3.400000,2.8,3.0,2.6,2.400000,2.30000,2.400000,2.500000,2.500,2.300000
35,B. District Services,"J&KGTU, Srinagar",2.100000,2.10000,2.700000,3.0,3.2,3.7,3.900000,3.50000,3.500000,3.300000,3.000,2.100000
37,B. District Services,"STS, A & N Islands",7.200000,7.00000,6.500000,6.7,6.3,6.5,6.300000,6.30000,6.500000,6.400000,6.700,6.700000
38,B. District Services,"UPGR, Lucknow",3.900000,4.40000,4.100000,4.8,5.3,5.1,5.400000,4.40000,3.800000,4.300000,4.200,3.900000
39,C. Inter-State Services,C. Inter-State Services,4.000000,4.30000,4.200000,4.3,4.7,4.6,4.400000,3.80000,3.600000,3.600000,3.600,3.500000
40,C. Inter-State Services,"GSRTC, Ahmedabad",3.400000,3.60000,3.800000,4.0,4.3,3.8,3.300000,4.00000,4.600000,4.600000,3.800,3.600000
41,C. Inter-State Services,"MySRTC, Bangalore",6.300000,6.90000,6.700000,6.6,7.2,6.7,6.000000,6.00000,5.800000,5.900000,5.900,5.400000
42,C. Inter-State Services,"DTC, Delhi",7.200000,7.30000,7.500000,8.1,8.2,7.9,7.500000,6.50000,6.500000,6.800000,6.800,6.000000
43,C. Inter-State Services,"HGTS, Chandigarh",3.400000,3.50000,3.700000,3.7,3.9,4.0,3.600000,3.20000,3.200000,3.400000,3.600,3.300000
44,C. Inter-State Services,"MSTD, Imphal",1.000000,1.00000,1.000000,1.0,1.0,1.0,1.000000,1.00000,1.000000,1.000000,1.000,1.000000
45,C. Inter-State Services,"MKRTC, Mandi",3.000000,3.30000,3.600000,3.7,3.4,3.2,3.400000,2.30000,2.900000,2.600000,3.200,2.800000
46,C. Inter-State Services,"RSRTC, Jaipur",2.700000,3.00000,2.800000,3.3,3.4,3.2,2.800000,2.90000,2.600000,2.600000,2.900,2.500000
47,C. Inter-State Services,"PRTC, Patiala",4.100000,4.80000,4.500000,4.4,4.6,5.5,5.000000,4.30000,4.200000,3.900000,3.900,3.300000
48,C. Inter-State Services,"ORTC, Berhampur",9.700000,6.30000,7.000000,7.0,7.3,6.3,5.700000,6.00000,6.300000,6.300000,5.700,5.700000
49,C. Inter-State Services,"CSTC, Calcutta",9.171429,8.77551,8.859184,0.1,0.3,0.2,0.200000,0.30000,0.400000,0.400000,0.400,0.500000
51,C. Inter-State Services,"KSRTC, Trivandrum",8.800000,7.40000,7.700000,7.8,7.7,7.6,9.459184,9.22449,8.810417,8.777083,8.775,8.208333
52,C. Inter-State Services,"CTU, Chandigarh",1.200000,1.30000,1.400000,1.4,1.4,1.5,1.400000,1.40000,1.500000,1.400000,1.400,1.400000
54,C. Inter-State Services,"MPSRTC, Bairagarh",3.500000,4.20000,4.000000,4.4,4.5,4.0,3.100000,3.00000,3.700000,3.900000,3.900,3.600000
56,C. Inter-State Services,"MSRTC, Bombay",4.200000,4.00000,3.600000,3.6,3.9,3.6,3.900000,3.80000,3.300000,3.500000,3.400,5.600000
57,C. Inter-State Services,"STSO, Cuttack",3.600000,4.20000,3.500000,3.6,3.8,3.7,3.100000,2.80000,3.300000,3.100000,3.300,3.400000
58,C. Inter-State Services,"J & KGTU, Srinagar",1.000000,0.90000,1.000000,1.1,1.1,1.1,0.900000,0.90000,0.900000,0.800000,0.900,0.700000
60,C. Inter-State Services,"UPGR, Lucknow",2.600000,2.80000,2.900000,3.2,3.4,3.3,3.400000,2.60000,3.300000,3.200000,3.200,2.600000